@use './default' with (
  $body-bg: white,
  $body-color: #081531,
  $body-secondary-bg: #000b9b,
  $light: #adadad,
  $primary: #0C1F42FF,
  $secondary: #14336d,
  $tertiary: rgb(12, 51, 109),
  $box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.5)
);
