
/* You can add global styles to this file, and also import other style files */
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$body-bg: #20002d !default;
$body-secondary-bg: #e7e4cc !default;
$body-secondary-color: #212121 !default;
$body-color: #fff !default;
$font-family-sans-serif: 'Roboto', sans-serif;
$enable-smooth-scroll: true;

$box-shadow: 2px 2px 20px 1px rgba(0,0,0,0.5);

$tertiary: #a67600 !default;

$custom-themes: (
  "tertiary": $tertiary
);


// 3. Include remainder of required Bootstrap stylesheets
$primary: #212121 !default;

@import "../../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here
$theme-colors: map-merge($theme-colors, $custom-themes);

// 5. Include remainder of required parts
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../node_modules/bootstrap/scss/utilities/api";


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

:root {
  --bs-padding-1: #{map-get($spacers,1)};
  --bs-padding-2: #{map-get($spacers,2)};
  --bs-padding-3: #{map-get($spacers,3)};
  --bs-padding-4: #{map-get($spacers,4)};

}

@each $name, $color in $theme-colors {
  :root {
    --surface-color-on-#{$name}: #{color-contrast($color)};
    --surface-color-on-#{$name}-rgb: #{to-rgb(color-contrast($color))};
  }
}


html, body, *{
  scroll-behavior: smooth !important;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #B5B5B580 #FFFFFF00;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 1px;
}

*::-webkit-scrollbar-track {
  background: #FFFFFF00;
}

*::-webkit-scrollbar-thumb {
  background-color: #b5b5b5;
  border-radius: 1px;
  border: 1px none #ffffff;
}

.clickable {
  cursor: pointer;
}


.intersection-observer {
  transition: all .75s;
}

.form-control::file-selector-button {
  background-color: $tertiary !important;
}

@each$name, $color in $theme-colors {
  .bg-#{$name} {
    background-color: $color !important;
  }

  .bg-on-#{$name} {
    background-color: color-contrast($color) !important;
  }

  .bottom-gradient-#{$name}::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2rem;
    width: 100%;
    z-index: 1;
    background: linear-gradient(to bottom, transparentize($color,0) 0%, transparentize($color,0.75) 50%,  transparentize($color, 1) 100%);
  }

  .border-#{$name} {
    border-color: transparentize(color-contrast($color),0.2) !important;
  }

  .text-on-#{$name} {
    color: color-contrast($color) !important;
  }

  .#{$name}-container {
    background-color: $color;
    color: color-contrast($color);
  }

}

@each $name, $color in $colors {
  .shadow-#{$name} {
    box-shadow: 0 .5rem 1rem rgba($color, .15);
  }

  .hover-shadow-#{$name}:hover {
    box-shadow: 0 .5rem 1rem rgba($color, .15);
  }

  .hover-shadow-#{$name}-full:hover {
    box-shadow: 0 .5rem 1rem rgba($color, .15);
  }

  .hover-neon-border-#{$name}:hover {
    box-shadow: 0 0 .5rem .5rem rgba($color, .2);
  }

  .border-#{$name} {
    border-color: $color !important;
  }

  .text-#{$name} {
    color: $color;
  }
}
