.topic-header {
  height: 12rem;
  padding: 2rem;
  align-items: center;
}

.topic-image {
  max-height: 8rem;
  max-width: 10rem;
}

//.article-container {
//  display: flex;
//  flex-direction: row;
//  flex-wrap: wrap;
//
//  :first-child {
//    flex-grow: 1;
//  }
//
//  > * {
//    max-width: 30rem;
//  }
//}

.add-button {
  max-width: 80vw;
  display: block;
  width: 40rem;
  height: 10rem;
}
