@use "../node_modules/flag-icons/sass/flag-icons" with (
  $flag-icons-included-countries: ("de", "gb")
);
/* You can add global styles to this file, and also import other style files */
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$body-bg: #20002d;
$body-secondary-bg: #e7e4cc;
$body-secondary-color: #212121;
$body-color: #fff;
$font-family-sans-serif: 'Roboto', sans-serif;
$enable-smooth-scroll: true;

$box-shadow: 3px 2px 20px 5px rgba(0,0,0,0.5);

// 3. Include remainder of required Bootstrap stylesheets
$primary: #00398f;
@import "../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here

$body-tertiary-color: white;
$body-tertiary-bg: #a67600;

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

:root {
  --bs-padding-1: #{map-get($spacers,1)};
  --bs-padding-2: #{map-get($spacers,2)};
  --bs-padding-3: #{map-get($spacers,3)};
  --bs-padding-4: #{map-get($spacers,4)};

  --primary-color: #00398f;
}

html, body, *{
  scroll-behavior: smooth !important;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #B5B5B580 #FFFFFF00;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 1px;
}

*::-webkit-scrollbar-track {
  background: #FFFFFF00;
}

*::-webkit-scrollbar-thumb {
  background-color: #b5b5b5;
  border-radius: 1px;
  border: 1px none #ffffff;
}

.clickable {
  cursor: pointer;
}


.intersection-observer {
  transition: all .75s;
}

@each $name, $color in $colors {
  .shadow-#{$name} {
    box-shadow: 0 .5rem 1rem rgba($color, .15);
  }

  .hover-shadow-#{$name}:hover {
    box-shadow: 0 .5rem 1rem rgba($color, .15);
  }

  .hover-shadow-#{$name}-full:hover {
    box-shadow: 0 .5rem 1rem rgba($color, .15);
  }

  .hover-neon-border-#{$name}:hover {
    box-shadow: 0 0 .5rem .5rem rgba($color, .2);
  }
}

.shiny::before {
  background: rgba(255, 255, 255, 0.2);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(3rem 0, 0 0, 0 3rem);
  transition: all .3s;
  opacity: .3;
}

.shiny:hover::before {
  opacity: 1;
  clip-path: polygon(5rem 0, 0 0, 0 5rem);
}

.lang-switch {
  overflow: hidden;
  grid-column: 2 / 2;
  justify-self: end;
  border-radius: 0 0 0.5rem 0.5rem;
  margin-right: 1rem;

  label:nth-of-type(1) {
    border-radius: 0 0 0 0.5rem;
  }
  label:last-of-type {
    border-radius: 0 0 0.5rem 0;
  }
}
