@use "../node_modules/flag-icons/sass/flag-icons" with (
  $flag-icons-included-countries: ("de", "gb")
);
/* You can add global styles to this file, and also import other style files */
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$body-bg: #240033;
$body-color: #fff;
$font-family-sans-serif: 'Roboto', sans-serif;
$enable-smooth-scroll: true;

$box-shadow: 3px 2px 20px 5px rgba(0,0,0,0.5);

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

:root {
  --bs-padding-1: #{map-get($spacers,1)};
  --bs-padding-2: #{map-get($spacers,2)};
  --bs-padding-3: #{map-get($spacers,3)};
  --bs-padding-4: #{map-get($spacers,4)};
}

html, body, *{
  scroll-behavior: smooth !important;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #B5B5B580 #FFFFFF00;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 1px;
}

*::-webkit-scrollbar-track {
  background: #FFFFFF00;
}

*::-webkit-scrollbar-thumb {
  background-color: #b5b5b5;
  border-radius: 1px;
  border: 1px none #ffffff;
}


.intersection-observer {
  transition: all .75s;
}
