.blog-container {
  min-height: 50vh;
  padding-top: 6rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.topic-carousal {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  flex-wrap: wrap;
  height: 100%;
  flex-grow: 1;


}

#add-topic-card {
  border: 0.1rem dashed white;
  min-width: 30rem;
}

#add-topic-card:hover {
  cursor: pointer;
}

.topic-card {
  width: 35rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;

  > .card-img-top {
    height: 10rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: #0f9797;
    object-fit: cover ;
    object-position: center;
  }

  > .card-body {
    text-overflow: ellipsis;
  }
}

@media screen and (max-aspect-ratio: 3/4) {
  .topic-carousal {
    flex-direction: column;
  }
}
