
.resume-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.resume-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  //justify-content: space-between;
  width: 100%;
  height: 102vh;
  position: relative;
}

.socials-container { //desktop
  display: flex;
  margin-bottom: 3rem;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  font-size: 1.5rem;

  * {
    color: inherit;
  }

  &.desktop-only {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.resume-header-text-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#resume-nav {
  > li {
    list-style-type: none;

    > a {
      text-decoration: none;
      color: inherit;
    }

    //chevron
    ::before {
      content: "\F280";
      font-family: bootstrap-icons !important;
      font-style: normal;
      font-weight: normal !important;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      vertical-align: -.125em;
      margin-right: 0.5rem;
    }

    :hover:before {
      margin-right: 0;
      margin-left: 0.5rem;
    }
  }
}

.header-text {
  height: 100%;
  justify-content: center;
  text-wrap: nowrap;

  > h1 {
    font-size: 6rem;
  }

  > h2 {
    font-size: 3rem;
  }

  > h3 {
    font-size: 2rem;
  }

  > h4 {
    font-size: 1.5rem;
  }

  > * {
    width: fit-content;
  }
}

#name {
  font-size: 6rem;
  font-weight: bold;
}

.resume-body {
  padding-left: var(--bs-padding-4);
  padding-right: var(--bs-padding-4);
  width: 100%;
  height: 100%;
  overflow-y: auto;
  gap: 6rem;
  margin-top: 6rem;

  > .resume-section {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  $directions: (linear, reverse);

  //.bg-particle {
  //  position: absolute;
  //  width: 1rem;
  //  height: 1rem;
  //  border-radius: 50%;
  //  border: solid #6644c9 1rem;
  //  animation: background-particles 8s linear infinite;
  //  z-index: -1;
  //  opacity: 0;
  //
  //  &:nth-child(even) {
  //    height: .5rem;
  //    width: .5rem;
  //  }

  //@for $i from 1 through 50 {
  //  &:nth-child(#{$i}) {
  //    top: percentage(random(100)/100);
  //    left: percentage(random(100)/100);
  //    animation: background-particles (random(7)+3)*1s infinite;
  //    animation-direction: nth($directions, random(2));
  //    animation-delay: random(3)*1s;
  //  }
  //}
  //}
}

//@keyframes background-particles {
//  0% {
//    transform: scale(0);
//    opacity: 0.8;
//  }
//  100% {
//    transform: scale(1) ;
//    opacity: 0;
//  }
//
//}

.header-image {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 52% 34%);
  background-color: rgba(172, 0, 238, 0.41);
}

#projects {
  width: 70%;
  align-self: center;
  height: 70vh;
}

#backgroundFootage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


#aboutme {
  font-size: 1.5rem;
  width: 70%;
  align-self: center;
  overflow: hidden;
}

#experience {
  justify-content: center;
  align-self: center;
}

#portrait {
  display: none;
}


@media screen and (max-aspect-ratio: 3/4), (max-width: 35rem) {
  .resume-container {
    margin-top: 0;
  }

  #portrait {
    display: block;
    height: 15rem;
    width: auto;
    object-fit: contain;
    box-sizing: content-box;
    margin-bottom: 1rem;
  }

  #name {
    font-size: 3rem;
  }


  .resume-header {
    flex-direction: column;
    min-height: 50vh;
    justify-content: center;
    height: 100vh;

    > * {
      text-align: center;
      width: 100%;
    }

  }

  .resume-body {
    padding-left: var(--bs-padding-4);
    padding-right: var(--bs-padding-4);
  }

  .header-image {
    order: 1;
    clip-path: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .header-text {
    order: 2;
    margin-left: 0 !important;

    > h2 {
      font-size: 2rem;
    }

    * {
      text-align: center;
      width: 100%;
    }
  }

  .header-image {
    display: none;
  }

  .header-text {
    text-wrap: wrap;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .socials-container.mobile-only { //for some stupid unknown reason css thinks that the command of a parent in a media query is stronger than 2 direct classes of this element. So I have to to put that here
    width: 5rem;
    overflow: hidden;
    align-self: center;
  }
;

  #resume-nav {
    width: 100%;

    * {
      text-align: center;
      width: 100%;
    }

    > li {
      margin-bottom: 0.5rem;
    }
  }
}



