<link type="text/css" rel="stylesheet" [href]="getStyles()">
<div class="global-options-container" (mouseenter)="onHoverInOptions()" (mouseleave)="onHoverOutOptions()">
  <ng-template #themepopup>
    <select [(ngModel)]="currentTheme">
      @for (theme of allThemes; track theme) {
        <option value="{{theme}}">{{ "themes." + theme | translate }}</option>
      }
    </select>
  </ng-template>
  <!--  -->
  <div class="collapse" [ngbCollapse]="!showMoreOptions">
    <button class="theme-switch btn border-0" [ngbPopover]="themepopup"
            autoClose="outside"
            (shown)="isPopUpOpen = true"
            (hidden)="isPopUpOpen = false; showMoreOptions = false">
      <i class="bi bi-pen"></i>
    </button>
  </div>
  <div class="lang-switch" (click)="toggleLanguage()">
    <span class="fi" [ngClass]="{'fi-de': currentLanguage =='de', 'fi-gb': currentLanguage != 'de'}"></span>
  </div>
</div>
<div id="login-surface" (mouseenter)="showLoginButton()" (mouseleave)="hideLoginButton()" [class.hidden]="!isShowLoginButton" >
  <div id="login-container" class="container-primary">
    <button (click)="clickLoginLogoutButton()" class="bg-transparent border-0">
      <i class="bi"
         [class.bi-key-fill]="!isLoggedIn"
         [class.bi-box-arrow-right]="isLoggedIn"
      ></i>
    </button>
    @if (isLoggedIn) {
      <button (click)="clickRefresh()" class="bg-transparent border-0">
        <i class="bi"
           [class.bi-arrow-clockwise]="isLoggedIn"
        ></i>
      </button>
      <div class="session-countdown">{{ sessionExpireTime | date:'mm:ss' }}</div>
    }
  </div>
</div>
<router-outlet></router-outlet>
<button id="scrollTopButton" class="btn rounded-pill" [class.invisible]="!showScrollTopButton" (click)="scrollToTop()">
  <i class="bi bi-arrow-up-circle"></i>
</button>
