.dialog-form {
  display: grid;
  grid-template-columns: 7rem 1fr;
  overflow-y: auto;

  * {
    align-self: center;
    max-height: 100%;
  }
}

.form-control::placeholder {
  -webkit-text-security: none;
  color: color-mix(in srgb, currentColor 54%, transparent);
}

.form-control::file-selector-button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.5rem;
  width: 9rem;
}

.image-preview {
  max-height: 10rem;
  width: 100%;
  object-fit: contain;
}

.full-row {
  grid-column: 1 / -1;
}
