.article-card {
  max-height: 10rem;
  min-width: 30rem;
  height: 10rem;
  display: flex;
  flex-direction: row;
  max-width: 40rem;
  position: relative;
  overflow: hidden;

  .article-text {
    max-height: 10rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 1rem;

    #article-title {
      min-height: 20%;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .article-description {
      flex-grow: 1;
      text-overflow: ellipsis;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      flex-flow: column wrap;
      max-height: 80%;
      position: relative;

      ::ng-deep {
        * {
          font-style: normal !important;
          font-weight: normal !important;
          font-size: 1rem !important;
          text-overflow: ellipsis;
          overflow: hidden;
          height: 100%;
          max-width: 100%;
          margin-bottom: 0;
          //white-space: nowrap;
          //margin: 0;
        }
      }
    }
  }


  .corner-date {
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
    z-index: 1;
    width: fit-content;
    overflow: hidden;
    height: 2rem;
    border-radius: 2rem;
    font-size: 0.8rem;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.article-image {
  max-height: 30rem;
  min-width: 10rem;
  display: flex;
  font-size: 1rem;
  object-fit: cover;
  object-position: center;
  flex-shrink: 1;
  overflow: hidden;
}


//.bottom-container {
//  display: flex;
//  flex-direction: row;
//  justify-content: center;
//  position: absolute;
//  bottom: 0;
//  right: 0;
//}
//
//.edit-button {
//  width: 2rem;
//  height: 2rem;
//}
